<div class="container">
    <div class="header">
        <p>Kontakt:</p>
    </div>
    <div class="content">
        <div class="content-box">
            <span class="title">Adres:</span>
            <span>Uniwersytet Rzeszowski al. Rejtana 16c, 35-959 Rzeszów tel. +48 17 872 10 00</span>
        </div>
        <div class="content-box">
            <span>Nr telefonu:</span><span>+ 48 17 872 10 00</span>
        </div>
        <div class="content-box">
            <span>Fax:</span><span>+ 48 17 872 12 65</span>
        </div>
        <div class="content-box">
            <span>E-mail::</span><span>info@ur.edu.pl</span>
        </div>
        <div class="content-box">
            <span>NIP:</span><span>NIP: 813-32-38-822</span>
        </div>
        <div class="content-box">
            <span>REGON:</span><span> REGON: 691560040</span>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2563.0099689422177!2d22.01222521553754!3d50.02990902545852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473cfaf86e40d0ad%3A0x5c6b30a5e96d2ba9!2sKolegium%20Nauk%20Przyrodniczych%20UR!5e0!3m2!1spl!2spl!4v1578564813559!5m2!1spl!2spl" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>