<div class="container">
    <nav class="desktop-nav">
        <div class="user-container">
            <div class="greeting">Witaj {{userName}}!</div>
            <div (click)="logout()" class="logout-button">
                <a>Wyloguj</a>
            </div>
        </div>
        <div class="nav-option">
            <span [routerLink]="['./feed']" class="click">
               <img src="/assets/images/pngfuel.com.png"/>
            <a  class="home-page">Strona główna </a>
        </span>
        </div>
        <div class="nav-option">
            <span [routerLink]="['./reserve']" class="click">
                <img src="/assets/images/time.png"/>
                <a  class="reservation">Zarezerwuj salę</a>
        </span>
        </div>

        <div class="nav-option">

            <span *ngIf="!isAdmin" [routerLink]="['./your-reservations']" class="click">
                <img src="/assets/images/toppng.com-paper-icon-note-icon-black-474x627.png"/>
                <a   class="reservations">Twoje rezerwacje</a>
            </span>
            <span *ngIf="isAdmin" [routerLink]="['./reservations-admin']" class="click">
                <img src="/assets/images/toppng.com-paper-icon-note-icon-black-474x627.png"/>
                <a class="reservations">Rezerwacje</a>
            </span>



        </div>
        <div class="nav-option">
            <span *ngIf="!isAdmin" [routerLink]="['./contact']" class="click">            
                <img src="/assets/images/PikPng.com_message-png_2023393.png"/>
                <a   class="contact">Kontakt</a>
            </span>
            <span *ngIf="isAdmin" [routerLink]="['./users-admin']" class="click">            
                <img src="/assets/images/users-icon.png"/>
                <a   class="contact">Użytkownicy</a>
            </span>


        </div>


    </nav>
    <router-outlet></router-outlet>
</div>