* {
    font-family: 'Quicksand', sans-serif;
    font-style: light;
}

.container {
    background-image: url(src/assets/images/tlo2.png);
    background-color: beige;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.desktop-nav {
    position: sticky;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-items: left;
    justify-content: space-between;
    height: 100vh;
    width: 15%;
    background-color: #FFFFFF7F;
    border-right: 1px solid #598790;
}

.nav-option {
    padding: 35px 15px 50px 35px;
}

.desktop-nav>div>span {
    display: flex;
    flex-direction: row;
}

.form-button {
    width: 100%!important;
}

.desktop-nav>.user-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid #598790;
    background-color: #FFFFFF99;
    align-items: center;
}

a {
    text-decoration: none;
    color: #598790;
    font-size: 2.5vh;
}

a:hover {
    color: #DD6344;
}

.greeting {
    font-size: 3vh;
}

img {
    width: 35px;
    height: 35px;
    margin-right: .5vw;
}

.logout-button>a {
    font-size: 1.5vh;
}

.logout-button:hover {
    cursor: pointer;
}

.icon {
    margin-right: 15px;
}

@media only screen and (max-width: 1100px) {
    .desktop-nav {
        width: 20%;
    }
    .desktop-nav>div>span {
        display: flex;
        flex-direction: column;
    }
    .nav-option {
        padding: 35px 30% 50px 30%;
    }
    .nav-option>span>a {
        display: none!important;
    }
    .nav-option>span>img {
        align-self: center;
    }
}