* {
    font-family: 'Quicksand', sans-serif;
    font-style: light;
}

.container {
    background-image: url(src/assets/images/tlo2.png);
    background-color: beige;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-items: left;
    justify-content: space-between;
    height: 100vh;
    width: 20%;
    background-color: #FFFFFF7F;
    border-right: 1px solid #598790;
}

nav>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 35px 15px 50px 35px;
    padding-bottom: 50px;
}

nav>.user-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid #598790;
    background-color: #FFFFFF99;
}

a {
    text-decoration: none;
    color: #598790;
    font-size: 30px;
}

a:hover {
    color: #DD6344;
}

.greeting {
    font-size: 35px;
}

.home-icon {
    background-image: url(src/assets/images/pngfuel.com.png);
    height: 35px;
    width: 35px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.reservation-icon {
    background-image: url(src/assets/images/time.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
}

.reservations-icon {
    background-image: url(src/assets/images/toppng.com-paper-icon-note-icon-black-474x627.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
}

.contact-icon {
    background-image: url(src/assets/images/PikPng.com_message-png_2023393.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
}

.logout-button>a {
    font-size: 16px;
}

.logout-button:hover {
    cursor: pointer;
}

.icon {
    margin-right: 15px;
}