

<div class="container">
    <button (click)="logout()" class="logout-button">Lgoout</button>
    <nav>
        <ul>
            <li>
                <a routerLink="#" class="home-page">Strona główna </a>
                    
            </li>
            <li>
                <a routerLink="#" class="reservation">Zarezerwuj salę</a>
            </li>
            <li>
                <a routerLink="#" class="reservations">Twoje rezerwacje</a>
            </li>
            <li>
                <a routerLink="#" class="contact">Kontakt</a>
            </li>
        </ul>

        <div class="test"></div>

    </nav>

</div>