.container {
    display: flex;
    flex-direction: column;
    padding: 5% 10% 0 10%;
    width: 70vw;
    font-size: 3vh;
    color: #598790;
    overflow: auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    font-size: 2.5vh;
    margin-bottom: 5%;
    color: #DD6344;
}

.message {
    color: green;
    padding-top: 3%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.content span:first-child {
    color: #598790;
}

.content span {
    width: 50%;
    text-align: left;
    align-items: center;
}

.content span:nth-child(2) {
    cursor: pointer;
}

.content p:hover {
    cursor: pointer;
}

img {
    height: 25px;
}

.showed {
    display: flex;
    flex-direction: row;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    transform: none;
    cursor: default;
}

input {
    font-size: 3vh;
    border-radius: 25px;
    border: none;
    padding: 5px;
}

.profile-input {
    background-color: rgb(0, 0, 0, 0.1);
    font-family: 'Quicksand', sans-serif;
    color: #598790;
}

textarea {
    font-size: 3vh;
    height: 30vh;
    width: 50vh;
    align-content: flex-start;
    resize: none;
    padding: 5px;
    border-radius: 25px;
    border: none;
}

.content>.passwd {
    display: flex;
    flex-direction: column;
}

.passwd input {
    margin-bottom: 15px;
    color: #598790;
    background-color: rgb(0, 0, 0, 0.1);
}

.season {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.season>.description {
    grid-column: 1;
}

.season>.values {
    grid-column: 2;
}

.values,
.description {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.description>div>p:first-child {
    grid-row: 1;
}

.description>div>p:nth-child(2) {
    grid-row: 2;
}

.description>div>p:nth-child(3) {
    grid-row: 3;
}

.description>div>p:nth-child(4) {
    grid-row: 4;
}

.description>div>p:nth-child(5) {
    grid-row: 5;
}

.description>div>p:nth-child(6) {
    grid-row: 6;
}

.season>.header {
    font-size: 3vh;
}

.new-season-box {
    font-weight: bold;
    margin-top: 2vh;
}

.submit-button {
    border: none;
    background-color: transparent;
}

.changePasswdAlert {
    font-size: 1.5vh;
    width: 50vw;
    color: darkslategray;
}

.form-button {
    font-size: 1.5vh!important;
    width: 150px;
}

.form-control {
    width: 150px;
}

@media only screen and (max-width: 1000px) {
    .container {
        padding-right: 0;
        width: 80vw;
    }
    .content>div {
        flex-direction: column;
        justify-content: center;
    }
    .content span:first-child {
        font-weight: bold!important;
    }
}