.container {
    background-image: url(src/assets/images/grid-3227459_1920.jpg);
    background-size: cover;
    background-color: beige;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    width: 65vh;
    height: 30vh;
    margin: auto;
    background-image: url(src/assets/images/logo.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.home-text::before {
    content: " ";
    border-top: #598790 1px solid;
    display: block;
    margin: auto;
    margin-bottom: 3%;
    width: 30%;
}

.home-text {
    text-align: center;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-style: light;
    margin-bottom: 25px;
}

h1 {
    letter-spacing: 0;
    color: #696969;
    text-transform: uppercase;
}

nav {
    text-align: center;
}

.nav-box {
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: 3vh;
    padding: 3%;
}

a {
    text-decoration: none;
    color: #696969;
}

a:hover {
    letter-spacing: 0.3vh;
    color: darkslategray;
    text-shadow: 5px 5px 10px #59879085;
}

@media only screen and (max-width: 769px) {
    .container {
        background-image: url(src/assets/images/mobile-background.png);
        background-color: beige;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .logo {
        position: fixed;
        top: 0;
        right: 50%;
    }
    .home-text>h1 {
        grid-row: 1;
        font-size: 1em;
    }
    nav {
        grid-row: 2;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 1fr 1fr;
    }
    nav>.nav-box:first-child {
        grid-row: 1;
        grid-column: 1;
    }
    nav>.nav-box:nth-child(2) {
        grid-row: 1;
        grid-column: 2;
    }
    nav>.nav-box:nth-child(3) {
        grid-row: 2;
        grid-column: 1/3;
    }
}