<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">


<div class="logo">
</div>
<div class="container">
    <div class="home-text">
        <h1>REZERWACJA SAL DLA WYDZIAŁU MATEMATYCZNO - PRZYRODNICZEGO <br>UNIWERSYTETU RZESZOWSKIEGO</h1>
    </div>
    <nav>
        <div class="nav-box">
            <a routerLink="/login">Logowanie</a>
        </div>
        <div class="nav-box">
            <a routerLink="/register">Rejestracja</a>
        </div>
        <div class="nav-box">
            <a href="http://www.ur.edu.pl/">Strona uniwersytetu</a>
        </div>
    </nav>

</div>