<div class="container">
    <div class="header">
        <p>Lista Rezerwacji</p>
        <div *ngIf="message" class="message">
            <h5>{{success}}</h5>
        </div>
    </div>
    <div class="content">
        <div class="filter">
            <input [(ngModel)]="filterValue" (keyup)="filter($event)" placeholder="Szukaj...">
        </div>
        <div class="table">
            <div class="table-header">
                <div class="table-box">Użytkownik</div>
                <div class="table-box">Sala</div>
                <div class="table-box">Data</div>
                <div class="table-box">Godzina</div>
                <div class="table-box">Usuń</div>
            </div>
            <div class="table-row" *ngFor="let reservation of showedReservations">
                <div class="table-box">{{reservation.user_email}}</div>
                <div class="table-box">{{reservation.room_number}} {{reservation.room_wing}}</div>
                <div class="table-box">{{reservation.date}}</div>
                <div class="table-box">{{reservation.hour}}</div>
                <div class="table-box">
                    <img src="assets/images/trash.png" (click)="delete(true, reservation.id)" />
                </div>
            </div>

            <app-delete-alert *ngIf="showAlert" class="deleteAlert" (refresh)="ngOnInit()" (msg)="showMessage()" (hideAlert)="hideAlert()" [chosenReservation]="chosenReservationId"></app-delete-alert>
        </div>
    </div>
</div>