
.icon-html5:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-doc-text:before { content: '\e802'; } /* '' */
.icon-clock-1:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-html5-1:before { content: '\f13b'; } /* '' */
.icon-css3:before { content: '\f13c'; } /* '' */