<div class="container">
    <div class="header">
        <p>Lista użytkowników</p>
        <div *ngIf="message" class="message">
            <h5>{{success}}</h5>
        </div>
    </div>
    <div class="content">
        <div class="filter">
            <input [(ngModel)]="filterValue" (keyup)="filter($event)" placeholder="Szukaj...">
        </div>
        <div class="table">
            <div class="table-header">
                <div class="table-box">Imię</div>
                <div class="table-box">Nazwisko</div>
                <div class="table-box">Mail</div>
                <div class="table-box">Admin</div>
                <div class="table-box">Usuń</div>
            </div>
            <div class="table-row" *ngFor="let user of showedUsers">
                <div class="table-box">{{user.first_name}}</div>
                <div class="table-box">{{user.last_name}}</div>
                <div class="table-box">{{user.email}}</div>
                <div class="table-box"><span class="click" (click)="showAdminAlert(true, user.id)">{{user.is_admin}}</span></div>
                <div class="table-box">
                    <img src="assets/images/trash.png" (click)="showDeleteAlert(true, user.id)" />
                </div>
            </div>
            <app-delete-user-alert class="alert" *ngIf="deleteAlert" [chosenUserId]="chosenUserId" (hideAlert)="showDeleteAlert(false)" (refresh)="ngOnInit()"></app-delete-user-alert>
            <app-set-admin-alert class="alert" *ngIf="adminAlert" [chosenUserId]="chosenUserId" (hideAlert)="showAdminAlert(false)" (refresh)="ngOnInit()"></app-set-admin-alert>
        </div>
    </div>
</div>