<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">


<div class="container">
    <div class="logo">
    </div>
    <div class="form-div">
        <form [formGroup]="registerForm" (ngSubmit)="submitRegister()" [name]="registerForm">
            <div class="form-option">
                <input type="email" name="email" formControlName="email" placeholder="Email">
                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.errors.required">
                        E-mail jest wymagany.
                    </div>
                    <div *ngIf="email.errors.email">
                        Wprowadź poprawny adres e-mail
                    </div>
                </div>
            </div>
            <div class="form-option">
                <input type="password" name="password" formControlName="password" placeholder="Hasło">
                <div *ngIf="password.invalid && (password.dirty || password.touched)">

                    <div *ngIf="password.errors.required">
                        <ul>
                            <li>Hasło jest wymagane.</li>
                        </ul>

                    </div>
                    <div *ngIf="password.errors.minlength">
                        <ul>
                            <li>
                                Hasło musi mieć przynajmniej 8 znaków.
                            </li>
                        </ul>

                    </div>
                    <div *ngIf="password.errors.pattern">
                        Hasło musi mieć: Przynajmniej 8 znaków, wielką literę, liczby lub znaki specjalne.

                    </div>
                </div>
            </div>
            <div class="form-option">
                <input type="password" name="password" formControlName="repeatPassword" placeholder="Powtórz hasło">
                <div *ngIf="repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)">
                    <div *ngIf="repeatPassword.errors.required">
                        Musisz ponownie wpisać hasło.
                    </div>
                    <div *ngIf="!repeatPassword.validateAreEqual">
                        Hasła nie są takie same.
                    </div>

                </div>
            </div>
            <div class="form-option">
                <input type="text" name="name" formControlName="firstName" placeholder="Imię">
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                    <div *ngIf="firstName.errors.required">
                        Imię jest wymagane
                    </div>
                </div>

            </div>
            <div class="form-option">
                <input type="text" name="lastname" placeholder="Nazwisko" formControlName="lastName">
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                    <div *ngIf="lastName.errors.required">
                        Nazwisko jest wymagane
                    </div>
                </div>
            </div>

            <div class="form-option">
                <button [disabled]="!registerForm.valid" class="form-button">
                    Zarejestruj
                </button>
            </div>
            <div>
                <div class="form-success-msg" *ngIf="success">
                    <h3><strong>Zarejestrowano pomyślnie!</strong></h3>
                    <h3> <a routerLink="/">Po akceptacji administratora, będzie możliwe logowanie</a></h3>
                </div>

                <div class="form-error-msg" *ngIf="failed">
                    <h3><strong>Taki użytkownik już istnieje!</strong></h3>
                </div>
                <div>
                    <span class="click" *ngIf="!success" [routerLink]="['/']">Strona główna</span>
                </div>
            </div>
        </form>
    </div>
</div>